In [1]:
import sqlite3
import pandas as pd

In [3]:
%load_ext sql

In [4]:
%sql sqlite:///test.db

In [4]:
dcp_columns = (
         'District', 'Division', 'Area', 
         'Club Number', 'Club Name', 
         'Club Status', 'Mem. Base', 'Active Members', 'Goals Met', 
         '_2_CCs', '_2_more_CCs', '_1_AC', '_1_more_AC', '_1_CL_AL_DTM', '_1_more_CL_AL_DTM',
         '_4_L1s', '_2_L2s', '_2_more_L2s', '_2_L3s', '_1_L4_L5_DTM', '_1_more_L4_L5_DTM',
         'New Members', 'Add. New Members',
         'Off. Trained Round 1', 'Off. Trained Round 2',
         'Mem. dues on time Oct & Apr', 'Off. List On Time',
         'Club Distinguished Status',
         'Program Year', 'Month', 'Date'
)

In [5]:
dcp_datatypes = {
    'District': str, 
    'Division': str, 
    'Area': str,
    'Club Number': 'Int64',
    'Club Name': str,
    'Club Status': str,
    'Mem. Base': 'Int16',   # most clubs have less than 30 members, but could exceed 255
    'Active Members': 'Int16',  # as above, could exceed 255
    'Goals Met': 'Int8',    # max 10 goals possible
    # most clubs have fewer than 10 goals earned in any category, so Int8 should be sufficient:
    '_2_CCs': 'Int8', '_2_more_CCs': 'Int8', '_1_AC': 'Int8', '_1_more_AC': 'Int8', '_1_CL_AL_DTM': 'Int8', '_1_more_CL_AL_DTM': 'Int8',
    '_4_L1s': 'Int8', '_2_L2s': 'Int8', '_2_more_L2s': 'Int8', '_2_L3s': 'Int8', '_1_L2_L5_DTM': 'Int8', '_1_more_L4_L5_DTM': 'Int8',
    'New Members': 'Int8', 'Add. New Members':'Int16',   # max 4 for 'New Members', 'Add. New Members' could exceed 255
    'Off. Trained Round 1': 'Int8', 'Off. Trained Round 2': 'Int8',   # max 7
    'Mem. dues on time Oct & Apr': 'Int8', 'Off. List On Time': 'Int8',   # max 2
    'Club Distinguished Status': str,    # values of 'D', 'S', 'P', or NULL
    'Program Year': str,    # oldest available Program Year is '2008-2009', most recent full year is '2022-2023' 
    'Month': 'Int8',    # numeric values of 1 to 12 inclusive 
    'Date': str    # as of the last day of each month - values like '2008-07-31', '2023-06-30'
}

In [6]:
df = pd.read_csv(
    '2022-2023.csv',   # .read_csv() can read both zipped and unzipped .CSV files
    low_memory=False,    # default is True, which reads the file in chunks, which may cause mixed type inference
    encoding='ISO-8859-1',  # default is utf-8, which wasn't working with some non-U.S.A. club names
    names=dcp_columns,   # specify the names parameter to override the header row in the file
    skiprows=1,    # skip the header row when names are specified
    dtype=dcp_datatypes  # specify datatypes to ensure that null numeric values will not be typed as float  
)

In [7]:
conn=sqlite3.connect('test.db')
df.to_sql(name='July2022June2023', con=conn,  index=False, if_exists='replace')

192349

In [ ]:
%sql SELECT * FROM July2022June2023