In [1]:
import sqlite3

In [2]:
# load ipython-sql in order to use %sql and %%sql magics in the rest of the notebook
%load_ext sql

In [3]:
# load the database file
%sql sqlite:///test.db

In [4]:
%sql SELECT * FROM July2022June2023 LIMIT 7;

 * sqlite:///test.db
Done.

[('01', 'A', '01', 977, 'Professional Women Toastmasters', 'Active', 27, 20, 4, None, None, None, None, None, None, 1, 0, 0, 2, 1, 1, 2, 0, 7, 0, 2, 1, None, '2022-2023', 1, '2023-01-31'),
 ('01', 'A', '01', 5942, 'Dynamic Orators Club', 'Active', 8, 8, 4, None, None, None, None, None, None, 1, 2, 0, 1, 1, 1, 1, 0, 6, 0, 1, 1, None, '2022-2023', 1, '2023-01-31'),
 ('01', 'A', '01', 2563285, 'ImprovMasters', 'Suspended 09/30/22', 6, 0, 0, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, '2022-2023', 1, '2023-01-31'),
 ('01', 'A', '01', 4925444, 'Silicon Speech', 'Active', 22, 12, 2, None, None, None, None, None, None, 1, 1, 0, 0, 0, 0, 4, 0, 5, 0, 1, 1, None, '2022-2023', 1, '2023-01-31'),
 ('01', 'A', '02', 2327, 'Friends Club', 'Active', 18, 14, 1, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 2, 0, 7, 0, 1, 1, None, '2022-2023', 1, '2023-01-31'),
 ('01', 'A', '02', 5983, 'Sand & Sea Speakers Club', 'Active', 11, 20, 4, None, None, None, None, None, None, 3, 2, 0, 0, 0, 0, 4, 8, 4, 0, 1, 1, None, '2022-2023', 1, '2023-01-31'),
 ('01', 'A', '02', 6116586, 'District 1 Trail Blazers', 'Active', 11, 11, 3, None, None, None, None, None, None, 0, 0, 0, 0, 1, 1, 1, 0, 7, 0, 2, 1, None, '2022-2023', 1, '2023-01-31')]